In [1]:
import MySQLdb
import pandas as pd
hostName = 'db4free.net'      
userName = 'udreedbczu'          
passWord = 'ezcb9vazqz'           
dbName =  userName                
DBConn= MySQLdb.connect(hostName,userName,passWord,dbName)

In [2]:
def runCMD (DDL):
    
    """

    MySQL function for CUD of CRUD

    """

    DBConn= MySQLdb.connect(hostName,userName,passWord,dbName)
    myCursor = DBConn.cursor()
    retcode = myCursor.execute(DDL) 
    print (retcode)
    DBConn.commit()
    DBConn.close()

def runSELECT (CMD):
    
    """

    MySQL function for R of CRUD

    """

    DBConn= MySQLdb.connect(hostName,userName,passWord,dbName)
    df_mysql = pd.read_sql(CMD, con=DBConn)    
    DBConn.close()
    return df_mysql

def r(msg):
    
    """

    This function automatically routes all SQL operations to runCMD or runSELECT automatically
    
    """
    
    if msg[0:6]=="SELECT" or msg[0:6]=="select":
        return runSELECT(msg)
    else:
        runCMD(msg)

In [6]:
r('select * from overall_Scores')

,userid,saved_date,Category,Scores_Obtained,MaxMarks
0,anupam.misra@praxis.ac.in,2021-10-20,"Linear Regression, Logistic Regression, Statis...",100.0,150
1,radha.rathore@praxis.ac.in,2021-10-22,"SVM, Decision Tree, Naive Bayes",92.0,150
2,geetha.joseph@praxis.ac.in,2021-10-23,"KMeans, Logistic Regression, Decision Tree, St...",176.0,200
3,ashwin.kumar@praxis.ac.in,2021-10-22,"KNN, Naive Bayes",68.0,100
4,yash.aswani@praxis.ac.in,2021-10-25,"Statistics, Logistic Regression, KNN, SVM",112.0,200

In [24]:
r("delete from overall_Scores where Scores_Obtained=100")

2

In [26]:
r('INSERT into overall_Scores(userid, saved_date, Category, Scores_Obtained, MaxMarks) VALUES("anupam.misra@praxis.ac.in","2021-10-20", "Linear Regression, Logistic Regression, Statistics", 100, 150 )')

1

In [5]:
# r('INSERT into overall_Scores(userid, saved_date, Category, Scores_Obtained, MaxMarks) VALUES("anupam.misra@praxis.ac.in","2021-10-20", "Linear Regression, Logistic Regression, Statistics", 100, 150 )')
# r('INSERT into overall_Scores(userid, saved_date, Category, Scores_Obtained, MaxMarks) VALUES("sharukh.gouhar@praxis.ac.in","2021-10-21", "KNN, SVM, Statistics", 123, 150 )')
# r('INSERT into overall_Scores(userid, saved_date, Category, Scores_Obtained, MaxMarks) VALUES("radha.rathore@praxis.ac.in","2021-10-22", "SVM, Decision Tree, Naive Bayes", 92, 150 )')
# r('INSERT into overall_Scores(userid, saved_date, Category, Scores_Obtained, MaxMarks) VALUES("mansoor.ali.shaikh@praxis.ac.in","2021-10-23", "Linear Regression, KNN, KMeans", 77, 150 )')
r('INSERT into overall_Scores(userid, saved_date, Category, Scores_Obtained, MaxMarks) VALUES("geetha.joseph@praxis.ac.in","2021-10-23", "KMeans, Logistic Regression, Decision Tree, Statistics", 176, 200 )')
r('INSERT into overall_Scores(userid, saved_date, Category, Scores_Obtained, MaxMarks) VALUES("ashwin.kumar@praxis.ac.in","2021-10-22", "KNN, Naive Bayes", 68, 100 )')
r('INSERT into overall_Scores(userid, saved_date, Category, Scores_Obtained, MaxMarks) VALUES("yash.aswani@praxis.ac.in","2021-10-25", "Statistics, Logistic Regression, KNN, SVM", 112, 200 )')

1
1
1

In [ ]:
r('SELECT * from overall_Scores')